.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    /* border: 1px solid grey; */
    padding: 20px;
    min-width: 25%;
}

.loginForm h1 {
    margin-bottom: 20px;
    text-align: center;
}

.loginInput {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid blue;
}

.login-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
    font-size: 16px;
}